// Colors taken from: https://opuscapita.github.io/ocui/brand.html
$orange: #EC6608;
$steel: #67707C;
$dark-steel: #3B4A56;
$cyan: #3AA57B;
$black: #000000;
$white: #FFFFFF;

// Colors taken from status labels in Track service
$green: #5CB85C;
$red: #D9534F;
$light-orange: #F0AD4E;